mat-form-field {
    padding: 5px;
}

th,
td {
    font-size: larger;
    font-weight: bolder;
}

mat-card-title{
    color:#e53935;
    font-weight: bolder;
}
th{
    color:#e53935;
}

table {
    width: 100%
}

.mat-row:hover .mat-cell {
    background-color: lightgray;
}

.float-right{
    float: right;
}