mat-card {
    padding: 20px;
}

td {
    width: 1000px
}

th,
td {
    font-size: larger;
    font-weight: bolder;
}

mat-card-title{
    color:#e53935;
    font-weight: bolder;
}
th{
    color:#e53935;
}

.mat-row:hover .mat-cell {
    background-color: lightgray;
}