<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let item of menuitems.getmenuitems() " routerLinkActive="selected"
        group="{{item.state}}">
        <a appAccordionToggle [routerLink]="['/cafe',item.state]"
            *ngIf="(item.role == '' || item.role == tokenpayload.role)">
            <mat-icon style="color:white">{{item.icon}}</mat-icon>
            <span style="color:white">{{item.name}}</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
</mat-nav-list>