<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">
            Change password
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="changepasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error
                    *ngIf="changepasswordForm.controls.email.touched && changepasswordForm.controls.email.invalid">
                    <span *ngIf="changepasswordForm.controls.email.errors.required">This Field is Mandatory</span>
                    <span *ngIf="changepasswordForm.controls.email.errors.pattern">This Field is Invalid</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Old Password</mat-label>
                <input matInput formControlName="oldpassword" type="password" required>
                <mat-error
                    *ngIf="changepasswordForm.controls.oldpassword.touched && changepasswordForm.controls.oldpassword.invalid">
                    <span *ngIf="changepasswordForm.controls.oldpassword.errors.required">This Field is Mandatory</span>
                    <span *ngIf="changepasswordForm.controls.oldpassword.errors.pattern">This Field is Invalid</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newpassword" type="password" required>
                <mat-error
                    *ngIf="changepasswordForm.controls.newpassword.touched && changepasswordForm.controls.newpassword.invalid">
                    <span *ngIf="changepasswordForm.controls.newpassword.errors.required">This Field is Mandatory</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
        [disabled]="!(changepasswordForm.valid && changepasswordForm.dirty)">Change
        Password</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>