<body class="bg-image">
    <div class="blur">
        <mat-card>
           <h1><b><span>Dashboard</span></b></h1> 
        </mat-card><br>
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="container">
                        <h2 class="title">Total Category</h2>
                        <b><h1 class="title">{{data?.category}}</h1></b>
                        <p><button class="button" [routerLink]="['/cafe/category']">View Category</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="container">
                        <h2 class="title">Total Product</h2>
                       <b><h1 class="title">{{data?.product}}</h1></b> 
                        <p><button class="button" [routerLink]="['/cafe/product']">View Product</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="container">
                        <h2 class="title">Total Bill</h2>
                        <b><h1 class="title">{{data?.bill}}</h1></b>
                        <p><button class="button" [routerLink]="['/cafe/bill']">View Bill</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>