.position-relative {
	position: relative;
}

.add-contact {
	position: absolute;
    right: 17px;
    top: 57px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  h1,b{
    color:#e53935;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    // background-color: white;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    // color: white;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    
  }
  
  .container {
    padding: 0 16px;
    background-color: white;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: black;
    text-align: center !important;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #e53935;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .bg-image {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/2074130/pexels-photo-2074130.jpeg?cs=srgb&dl=pexels-viktoria-alipatova-2074130.jpg&fm=jpg");
  
    
    backdrop-filter: blur(15px);
    /* Full height */
    height: 790px;
    width:100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .blur {
    background: rgba(255, 255, 255, 0.01); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(4px); // This be the blur
    height: 800px;
    width:100%;
  }
  